body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
h1 {
	font-size: 28px;
}
h2 {
  font-size: 24px;
  padding-top: 20px;
}
h3 {
  font-size: 18px;
  padding-top: 15px;
}